blinker
certifi
charset-normalizer
click
colorama
coloredlogs
comtypes
contourpy
cycler
decorator
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fsspec
future
geocoder
geographiclib
humanfriendly
idna
intel-openmp
itsdangerous
Jinja2
kiwisolver
Markdown-it-py
MarkupSafe
matplotlib
mkl
mdurl
mpmath
networkx
numpy<2
onnx
onnxruntime
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pygments
pyparsing
python-dateutil
pyttsx3
pytz
PyOpenGL
PyYAML
ratelim
requests
rich
scipy
seaborn
six
sympy
tbb
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-thop
urllib3
Werkzeug

streamlit
opencv-python-headless
